*{
    text-decoration: none;
    margin: 0pax;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    float: left;
    font-family: courier;
    color: #B99B6B;
    padding: 16px 16px 8px 16px;
    
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;  
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(0, 0, 0);
    border-bottom:3px solid  #F6E6C2;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: rgb(253, 253, 253);
    font-weight: bold;
    text-align: center;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
    
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}


  
.foto{
    width: 325px;
    height: 550px;
    margin: 50px;

}

.gambar-joy{
    width: 425px;
    height: 425px;
    margin: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 17px;
}

.kolom .deskripsi {
    font-size: 32px;
    font-weight: bold;
    font-family: 'arrival';
    color: #B99B6B;
}


a.tbl-biru{
    background: rgb(13, 16, 71) ;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
     background: #210202;  
     text-decoration: none; 
}

a.tbl-pink {
    background: rgb(61, 152, 36);
    border-radius: 20px;
    margin-top: 15px;
    padding: 14px 20px 14px 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
     background: #0b9629;  
     text-decoration: none; 
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}


.gambar{
    width: 550px;
    height: 500px;
    margin: 50px;
}

.game {
    width: 600px;
    height: 6000px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list{
    width: 100%;
    position: relative;
    display:flex;
    flex-wrap: wrap;
}

.kartu-foto{
    width: 20%;
    margin: 0 auto;
}

.kartu-foto img {
    width: 260px;
    height: 180px;
}
   
.kartu-foto{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #F6E6C2;
}
   
.tengah {
    text-align: center;
    width: 100%;
}

.deskrip-partner{
    color: #000000;
    text-align: center;
    font-size: 25px;
}

.partner-foto {
    width: 100%;
    position: relative;
    display:flex;
    flex-wrap: wrap;
}

.partner-foto2 {
    width: 100%;
}


.kartu-partner {
    width: 20%;
    margin: 0 auto;
}

.foto-partner {
    width: 20%;
    margin: 0 auto;
}

.foto-partner img {
    width: 250px;
    height: 180px;
}
   
.foto-partner p{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #F6E6C2;
}



.putih {
    color: #000000;
    text-align: justify;
    font-size: 27px;
}

.putih2{
    color: #000000;
    text-align: justify;
    font-size: 25px;
}

.atas1{
    font-size: 65px;
    font-family:'Bahnschrift';
    color: #000000;
    margin: 10px;
}

h2{
    font-size: 40px;
    font-family:'Bahnschrift';
    color: #000000;
}

.atas2{
    font-size: 55px;
    font-family:'Bahnschrift';
    color: #000000;
    margin: 10px;
}

.atas3{
    font-size: 75px;
    font-family:'Bahnschrift';
    color: #000000;
    margin: 10px;
}

.atas4{
    font-size: 75px;
    font-family:'Bahnschrift';
    color: #000000;
    margin: 10px;
    text-align: center;
}



.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background:#6b524b;
    padding: 70PX;
}

.footer-section{
    width: 220px;
    margin: 0 auto;
    color:white;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(232, 235, 255);
    width: 100%;
    line-height: 50px;
}

.foto-partner .xixixi{
    color:rgb(68, 47, 47);
}

.deskripsi{
    color: #000000;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 50%;
    }

    .kartu-partner {
        width: 50%;
    }
}